name: Orchestrator AutoUpdates

on:
  push:

jobs:
  build-previous:
    name: Build previous tag orchestrator docker image
    runs-on: ubuntu-latest
    outputs:
      previous_tag: ${{ steps.get_tags.outputs.previous_tag }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          tags: true
          
      - name: Read cicd config file
        id: read_config
        run: |
          chmod +x ./runner-fetch-config.sh
          ./runner-fetch-config.sh

      - name: Decode SSH keys
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          SSH_PUBLIC_KEY: ${{ secrets.SSH_PUBLIC_KEY }}
        run: |
          mkdir /home/runner/.ssh
          echo "$SSH_PRIVATE_KEY" | base64 --decode > /home/runner/.ssh/google_compute_engine
          echo "$SSH_PUBLIC_KEY" | base64 --decode > /home/runner/.ssh/google_compute_engine.pub
          chmod 600 ~/.ssh/google_compute_engine
          chmod 644 ~/.ssh/google_compute_engine.pub
      
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v0.3.0
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true
      
      - name: Wait for Instance to be Ready
        run: |
          until gcloud compute ssh ${{ env.GCP_GPU_NAME }} --zone ${{ env.GCP_GPU_ZONE }} --command "echo 'Instance is up'"; do
            echo 'Waiting for the instance to be ready...'
            sleep 10
          done
          echo 'Instance is ready!'

      - name: List all tags
        id: list_tags
        run: |
          git tag > tags.txt
          cat tags.txt
          if [ ! -s tags.txt ]; then
            echo "No tags found in the repository."
            exit 1
          fi
          TAGS=$(cat tags.txt)
          BASE64_TAGS=$(echo "${TAGS[*]}" | base64)
          echo "tags=$BASE64_TAGS" >> $GITHUB_ENV

      - name: Get the before latest tag (N-1)
        id: get_tags
        run: |
          TAGS=($(echo "${{ env.tags }}" | base64 --decode))
          if [ ${#TAGS[@]} -lt 2 ]; then
            echo "Not enough tags to perform operation. Need at least two tags."
            echo "Available tags: ${TAGS[@]}"
            exit 1
          fi
          PREVIOUS_TAG=${TAGS[-2]}
          ENCODED_PREVIOUS_TAG=$(echo "$PREVIOUS_TAG" | base64)
          echo "previous_tag=$ENCODED_PREVIOUS_TAG" >> $GITHUB_ENV

      - name: Checkout to N-1 Tag & build
        run: |
          PREVIOUS_TAG=$(echo "${{ env.previous_tag }}" | base64 --decode)
          git checkout $PREVIOUS_TAG

      - name: Clear remote directory
        run: gcloud compute ssh ${{ env.GCP_GPU_NAME }} --zone ${{ env.GCP_GPU_ZONE }} --command "rm -rf /home/runner/*"

      - name: Copy updated repository to remote server
        run: gcloud compute scp --recurse /home/runner/work/vision-workers/vision-workers ${{ env.GCP_GPU_NAME }}:/home/runner/vision-workers --zone ${{ env.GCP_GPU_ZONE }}
      
      - name: Run script on remote server
        run: gcloud compute ssh ${{ env.GCP_GPU_NAME }} --zone ${{ env.GCP_GPU_ZONE }} --command "export BUILD_ID=${{ github.run_id }};\
                                                                                                  docker login --username=${{ secrets.DOCKER_USER }} --password=${{ secrets.DOCKER_PASSW }};\ 
                                                                                                  cd /home/runner/vision-workers;
                                                                                                  docker build -f Dockerfile.orchestrator -t corcelio/cicd:autoup-orchestrator-$BUILD_ID ."
        env:
          BUILD_ID: ${{ github.run_id }}
          DOCKER_USER: ${{ secrets.DOCKER_USER }}
          DOCKER_PASSW: ${{ secrets.DOCKER_PASSW }}
