name: Orchestrator AutoUpdates

on:
  workflow_dispatch:

jobs:
  setup:
    name: Setup and Checkout
    runs-on: ubuntu-latest
    outputs:
      previous_tag: ${{ steps.get_tags.outputs.previous_tag }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: List all tags
        id: list_tags
        run: echo "tags=$(git tag)" >> $GITHUB_OUTPUT
      
      - name: Get the before latest tag (N-1)
        id: get_tags
        run: |
          TAGS=(${{ steps.list_tags.outputs.tags }})
          PREVIOUS_TAG=${TAGS[-2]} # Getting the second last item in the array
          echo "previous_tag=$PREVIOUS_TAG" >> $GITHUB_OUTPUT

      - name: Checkout to N-1 Tag
        run: git checkout ${{ steps.get_tags.outputs.previous_tag }}

  build:
    needs: setup
    name: Build Job
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ needs.setup.outputs.previous_tag }}
      
      - name: Build orchestrator with N-1 tag
        run: |
          echo "Building project tagged as ${{ needs.setup.outputs.previous_tag }}"