name: Vision Workers CICD

on: [push, pull_request]

jobs:
  build-all:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Decode SSH keys
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          SSH_PUBLIC_KEY: ${{ secrets.SSH_PUBLIC_KEY }}
        run: |
          mkdir /home/runner/.ssh
          echo "$SSH_PRIVATE_KEY" | base64 --decode > /home/runner/.ssh/google_compute_engine
          echo "$SSH_PUBLIC_KEY" | base64 --decode > /home/runner/.ssh/google_compute_engine.pub
          chmod 600 ~/.ssh/google_compute_engine
          chmod 644 ~/.ssh/google_compute_engine.pub

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v0.3.0
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true

      - name: Clear remote directory
        run: gcloud compute ssh a100-cuda118 --zone us-central1-f --command "rm -rf ~/*"

      - name: Copy updated repository to remote server
        run: gcloud compute scp --recurse /home/runner/work/vision-workers/vision-workers a100-cuda118:~/ --zone us-central1-f

      - name: Run script on remote server
        run: gcloud compute ssh a100-cuda118 --zone us-central1-f --command "export PROJECT_ID=${{ secrets.GCP_PROJECT_ID }}; export BUILD_ID=${{ github.run_id }}; docker login --username=${{ secrets.DOCKER_USER }} --password=${{ secrets.DOCKER_PASSW }}; cd /home/runner/vision-workers && bash ./build-docker-ci-remote.sh"
        env:
          PROJECT_ID: ${{ secrets.PROJECT_ID }}
          BUILD_ID: ${{ github.run_id }}
          DOCKER_USER: ${{ secrets.DOCKER_USER }}
          DOCKER_PASSW: ${{ secrets.DOCKER_PASSW }}
  
  deploy-runpod-orchestrator:
    needs: build-all
    runs-on: ubuntu-latest
    outputs:
      instance_id: ${{ steps.deploy-orch.outputs.instance_id }}
    steps:
      - name: Deploy to Runpod
        id: deploy-orch
        run: |
          response=$(curl -X POST https://runpod-manager.onrender.com/create-instance \
                          -H "Content-Type: application/json" \
                          -H "API_KEY: ${{ secrets.RUNPOD_MANAGER_API_KEY }}" \
                          -d '{
                            "instance_name": "vision-workers-ci-build-orch-${{ github.run_id }}",
                            "gpu_type": "${{ secrets.RUNPOD_GPU_TYPE }}",
                            "disk_volume": 500,
                            "docker_image": "corcelio/cicd:orchestrator-${{ github.run_id }}",
                            "ports": "6920/http",
                            "cuda_versions": [
                              "11.8",
                              "12.0",
                              "12.1",
                              "12.2",
                              "12.3"
                            ],
                            "env_vars": {}
                          }')
          instance_id=$(echo "$response" | jq -r '.id')
          echo "::set-output name=instance_id::$instance_id"
        timeout-minutes: 30

  test-runpod-orch-llm:
    needs: deploy-runpod-orchestrator
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Test Runpod Orchestrator - LLM
        uses: nick-fields/retry@v3
        with:
          max_attempts: 3
          timeout_minutes: 15
          command: |
            curl -f -X POST https://${{ needs.deploy-runpod-orchestrator.outputs.instance_id }}-${{ secrets.PORT_ORCH }}.proxy.runpod.net/check-result \
                  -H "Content-Type: application/json" \
                  -d '${{ secrets.TEST_ORCH_LLM_QUERY }}'
    outputs:
      instance_id: ${{ needs.deploy-runpod-orchestrator.outputs.instance_id }}
  
  test-runpod-orch-image:
    needs: test-runpod-orch-llm
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Test Runpod Orchestrator - Image
        uses: nick-fields/retry@v3
        with:
          max_attempts: 3
          timeout_minutes: 15
          command: |
            curl -f -X POST https://${{ needs.test-runpod-orch-llm.outputs.instance_id }}-${{ secrets.PORT_ORCH }}.proxy.runpod.net/check-result \
                  -H "Content-Type: application/json" \
                  --data-binary @ci-tests/image-server-test.json
    outputs:
      instance_id: ${{ needs.test-runpod-orch-llm.outputs.instance_id }}

  test-runpod-orch-avatar:
    needs: test-runpod-orch-image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Test Runpod Orchestrator - Image - Avatar
        uses: nick-fields/retry@v3
        with:
          max_attempts: 3
          timeout_minutes: 15
          command: |
            curl -f -X POST https://${{ needs.test-runpod-orch-image.outputs.instance_id }}-${{ secrets.PORT_LLM }}.proxy.runpod.net/avatar \
                  -H "Content-Type: application/json" \
                  --data-binary @ci-tests/image-server-test.json
    outputs:
      instance_id: ${{ needs.test-runpod-orch-image.outputs.instance_id }}

  destroy-runpod-orch:
    needs: test-runpod-orch-avatar
    runs-on: ubuntu-latest
    steps:
      - name: Destroy Orchestrator runpod instance
        run: |
          curl -f -X DELETE https://runpod-manager.onrender.com/delete-instance/${{ needs.test-runpod-orch-avatar.outputs.instance_id }} \
               -H "API_KEY: ${{ secrets.RUNPOD_MANAGER_API_KEY }}"
        timeout-minutes: 1

  deploy-runpod-llm-server:
    needs: build-all
    runs-on: ubuntu-latest
    outputs:
      instance_id: ${{ steps.deploy-llm.outputs.instance_id }}
    steps:        
      - name: Deploy to Runpod
        id: deploy-llm
        run: |
          response=$(curl -X POST https://runpod-manager.onrender.com/create-instance \
                          -H "Content-Type: application/json" \
                          -H "API_KEY: ${{ secrets.RUNPOD_MANAGER_API_KEY }}" \
                          -d '{
                            "instance_name": "vision-workers-ci-build-llm-${{ github.run_id }}",
                            "gpu_type": "${{ secrets.RUNPOD_GPU_TYPE }}",
                            "disk_volume": 500,
                            "docker_image": "corcelio/cicd:llm-server-${{ github.run_id }}",
                            "ports": "6919/http",
                            "cuda_versions": [
                              "11.8",
                              "12.0",
                              "12.1",
                              "12.2",
                              "12.3"
                            ],
                            "env_vars": {}
                          }')
          instance_id=$(echo "$response" | jq -r '.id')
          echo "::set-output name=instance_id::$instance_id"
        timeout-minutes: 30

  test-runpod-llm:
    needs: deploy-runpod-llm-server
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Test Runpod LLM
        uses: nick-fields/retry@v3
        with:
          max_attempts: 3
          timeout_minutes: 15
          command: |
            curl -f -X POST https://${{ needs.deploy-runpod-llm-server.outputs.instance_id }}-${{ secrets.PORT_LLM }}.proxy.runpod.net/load_model \
                  -H "Content-Type: application/json" \
                  -d '${{ secrets.TEST_LLM_LOAD_QUERY }}'
            curl -f -X POST https://${{ needs.deploy-runpod-llm-server.outputs.instance_id }}-${{ secrets.PORT_LLM }}.proxy.runpod.net/generate_text \
                  -H "Content-Type: application/json" \
                  -d '${{ secrets.TEST_LLM_CHAT_QUERY }}'

    outputs:
      instance_id: ${{ needs.deploy-runpod-llm-server.outputs.instance_id }}

  destroy-runpod-llm:
    needs: test-runpod-llm
    runs-on: ubuntu-latest
    steps:
      - name: Destroy Orchestrator runpod instance
        run: |
          curl -f -X DELETE https://runpod-manager.onrender.com/delete-instance/${{ needs.test-runpod-llm.outputs.instance_id }} \
               -H "API_KEY: ${{ secrets.RUNPOD_MANAGER_API_KEY }}"
        timeout-minutes: 1

  deploy-runpod-image-server:
    needs: build-all
    runs-on: ubuntu-latest
    outputs:
      instance_id: ${{ steps.deploy-image.outputs.instance_id }}
    steps:        
      - name: Deploy to Runpod
        id: deploy-image
        run: |
          response=$(curl -X POST https://runpod-manager.onrender.com/create-instance \
                          -H "Content-Type: application/json" \
                          -H "API_KEY: ${{ secrets.RUNPOD_MANAGER_API_KEY }}" \
                          -d '{
                            "instance_name": "vision-workers-ci-build-image-${{ github.run_id }}",
                            "gpu_type": "${{ secrets.RUNPOD_GPU_TYPE }}",
                            "disk_volume": 500,
                            "docker_image": "corcelio/cicd:image-server-${{ github.run_id }}",
                            "ports": "6919/http",
                            "cuda_versions": [
                              "11.8",
                              "12.0",
                              "12.1",
                              "12.2",
                              "12.3"
                            ],
                            "env_vars": {}
                          }')
          instance_id=$(echo "$response" | jq -r '.id')
          echo "::set-output name=instance_id::$instance_id"
        timeout-minutes: 30
  
  test-runpod-image:
    needs: deploy-runpod-image-server
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Test Runpod Image
        uses: nick-fields/retry@v3
        with:
          max_attempts: 3
          timeout_minutes: 15
          command: |
            curl -f -X POST https://${{ needs.deploy-runpod-image-server.outputs.instance_id }}-${{ secrets.PORT_LLM }}.proxy.runpod.net/txt2img \
                -H "Content-Type: application/json" \
                --data-binary @ci-tests/image-server-test.json

    outputs:
      instance_id: ${{ needs.deploy-runpod-image-server.outputs.instance_id }}

  destroy-runpod-image:
    needs: test-runpod-image
    runs-on: ubuntu-latest
    steps:
      - name: Destroy Image runpod instance
        run: |
          curl -f -X DELETE https://runpod-manager.onrender.com/delete-instance/${{ needs.test-runpod-image.outputs.instance_id }} \
               -H "API_KEY: ${{ secrets.RUNPOD_MANAGER_API_KEY }}"
        timeout-minutes: 1