
name: Deploy Code

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Decode SSH keys
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          SSH_PUBLIC_KEY: ${{ secrets.SSH_PUBLIC_KEY }}
        run: |
          mkdir /home/runner/.ssh
          echo "$SSH_PRIVATE_KEY" | base64 --decode > /home/runner/.ssh/google_compute_engine
          echo "$SSH_PUBLIC_KEY" | base64 --decode > /home/runner/.ssh/google_compute_engine.pub
          chmod 600 ~/.ssh/google_compute_engine
          chmod 644 ~/.ssh/google_compute_engine.pub
      
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v0.3.0
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true

      - name: Clear remote directory
        run: gcloud compute ssh a100-cuda118 --zone us-central1-f --command "rm -rf ~/*"

      - name: Copy updated repository to remote server
        run: gcloud compute scp --recurse /home/runner/work/vision-workers/vision-workers a100-cuda118:~/ --zone us-central1-f

      - name: Run script on remote server
        run: gcloud compute ssh a100-cuda118 --zone us-central1-f --command "export PROJECT_ID=${{ secrets.GCP_PROJECT_ID }}; export BUILD_ID=${{ github.run_id }}; docker login --username=${{ secrets.DOCKER_USER }} --password=${{ secrets.DOCKER_PASSW }}; cd /home/runner/vision-workers && bash ./build-docker-ci-remote.sh"
        env:
          PROJECT_ID: ${{ secrets.PROJECT_ID }}
          BUILD_ID: ${{ github.run_id }}
          DOCKER_USER: ${{ secrets.DOCKER_USER }}
          DOCKER_PASSW: ${{ secrets.DOCKER_PASSW }}
  
  deploy-runpod:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        
      - name: Deploy to Runpod
        run: |
          curl -X POST https://runpod-manager.onrender.com/create-instance \
          -H "Content-Type: application/json" \
          -H "API_KEY: ${{ secrets.RUNPOD_MANAGER_API_KEY }}" \
          -d '{
            "instance_name": "vision-workers-ci-build-${{ github.run_id }}",
            "gpu_type": "NVIDIA A100 80GB PCIe",
            "disk_volume": 500,
            "docker_image": "corcelio/cicd:${{ github.run_id }}",
            "ports": "6920/http",
            "cuda_versions": [
              "12.0",
              "12.1",
              "12.2",
              "12.3"
            ]
          }' --fail --connect-timeout 1000

        timeout-minutes: 30
